.buttonContainer {
  width: 210px;
  height: 80;
  cursor: pointer;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}